.Footer {
    background: #222222;
    height: 35vh;
    margin-top: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &_copyright {
        color: #aaa79e;
        font-size: 1rem;
        line-height: 25px;
        padding: 40px;
        max-width: 100%;
    }
}