.Portfolio {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 80px;
    padding-bottom: 120px;

    &_separator {
        height: 2px;
        width: 85px;
        margin: 70px auto;
        background-color: #222222;
    }

    &_btn {
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        li {
            color: #222222;
            cursor: pointer;
        }
    }

    &_items {
        margin-top: 50px;
        max-width: 80vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;


        &-elt {
            position: relative;
            width: 300px;
            height: 300px;
            margin: 10px 10px;
            display: block;
        }

        &-content {
            position: absolute;
            height: 100%;
            width: 100%;
            display: block;
            z-index: 999;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
           color: white;
           display: flex;
           justify-content: center;
           align-items: center;
           flex-direction: column;
           opacity: 0;

            &:hover {
                background: rgba(12, 38, 51, 0.6);
                transition: .5s;
                opacity: 1;
            }
        }

    
        &-img {
            min-width: 300px;
            min-height: 300px;
        }
    }
}

.selected {
    font-weight: 999;
    font-family: 'big_johnregular';
}

.visible {
    visibility: visible;
    opacity: 1;
    height: auto;
    transition: all 0.5s linear;
}

.notVisible {
    height: 0;
    width: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s linear;
}