@font-face {
    font-family: 'big_johnregular';
    src: url('../assets/fonts/big_john-webfont.eot');
    src: url('../assets/fonts/big_john-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/big_john-webfont.woff2') format('woff2'),
         url('../assets/fonts/big_john-webfont.woff') format('woff'),
         url('../assets/fonts/big_john-webfont.ttf') format('truetype'),
         url('../assets/fonts/big_john-webfont.svg#big_johnregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ambleregular';
    src: url('../assets/fonts/amble-regular-webfont.eot');
    src: url('../assets/fonts/amble-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/amble-regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/amble-regular-webfont.woff') format('woff'),
         url('../assets/fonts/amble-regular-webfont.ttf') format('truetype'),
         url('../assets/fonts/amble-regular-webfont.svg#ambleregular') format('svg');
    font-weight: normal;
    font-style: normal;

}